@namespace Bit.BlazorUI
@inherits BitComponentBase
@typeparam TItem

<nav @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     role="navigation"
     aria-label="@AriaLabel"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()">

    <ul role="list">
        <CascadingValue Value="this" IsFixed="true">
            @if (Options is not null || ChildContent is not null)
            {
                @(Options ?? ChildContent)
            }
            else
            {
                @foreach (var (item, idx) in _items.Select((item, idx) => (item, idx)))
                {
                    var key = GetItemKey(item, idx.ToString());
                    <_BitNavChild @key="@key" Key="@key" Item="item" Depth="0" />
                }
            }
        </CascadingValue>
    </ul>
</nav>