@attribute [Route(PageUrls.About)]
@attribute [Route("{culture?}" + PageUrls.About)]
@attribute [AppResponseCache(SharedMaxAge = 3600 * 24 * 7, MaxAge = 60 * 5)]
@inherits AppPageBase

<AppPageData Title="@Localizer[nameof(AppStrings.About)]"
             PageTitle="@Localizer[nameof(AppStrings.AboutPageTitle)]" />

<CascadingValue Value=BitDir.Ltr>
    <section>
        <BitStack Gap="1.5rem">
            <AppInfoCard AppName="@appName"
                         AppVersion="@appVersion"
                         Platform="@platform"
                         Environment="@AppEnvironment.Current"
                         ProcessId="@processId"
                         Oem="@oem">
                <Note>
                    You can add <code>.razor</code>, <code>.razor.cs</code>, and <code>.razor.scss</code> files to the
                    <b>Client.Maui</b> and <b>Client.Windows</b> projects, allowing direct access to native platform
                    features without dependency injection. This <b>AboutPage</b> in <b>Client.Web</b> reuses the same
                    route (e.g. <code>/about</code>) on the web, though without access to native platform features.
                </Note>
            </AppInfoCard>

            <BitCard FullSize>
                <Acknowledgements />
            </BitCard>
        </BitStack>
    </section>
</CascadingValue>
