@namespace Bit.BlazorUI
@typeparam TItem where TItem : class

@if (MenuButton.Sticky is false || Item != MenuButton.SelectedItem)
{
    var template = MenuButton.GetTemplate(Item);
    var isEnabled = MenuButton.IsEnabled && MenuButton.GetIsEnabled(Item);

    <li role="presentation" style="@MenuButton.Styles?.ItemWrapper" class="@MenuButton.Classes?.ItemWrapper">
        <button @onclick="() => MenuButton.HandleOnItemClick(Item)" @onclick:stopPropagation
                role="menuitem"
                type="@MenuButton._buttonType.GetValue()"
                tabindex="@(isEnabled ? 0 : -1)"
                disabled="@(isEnabled is false)"
                aria-disabled="@(isEnabled is false)"
                style="@MenuButton.GetStyle(Item);@MenuButton.Styles?.ItemButton"
                class="bit-mnb-itm @MenuButton.GetClass(Item) @MenuButton.Classes?.ItemButton">
            @if (template is not null)
            {
                @template(Item)
            }
            else if (MenuButton.ItemTemplate is not null)
            {
                @MenuButton.ItemTemplate(Item)
            }
            else
            {
                var itemIcon = MenuButton.GetIcon(Item);
                @if (itemIcon is not null)
                {
                    <i style="@MenuButton.Styles?.ItemIcon" class="bit-mnb-iic @itemIcon.GetCssClasses() @MenuButton.Classes?.ItemIcon" />
                }
                <span style="@MenuButton.Styles?.ItemText" class="bit-mnb-btx @MenuButton.Classes?.ItemText">
                    @MenuButton.GetText(Item)
                </span>
            }
        </button>
    </li>
}
