@namespace Bit.BlazorUI
@inherits BitComponentBase
@typeparam TItem

@{
    var _selectedItem = Sticky ? SelectedItem : null;
}
<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()">
    <button @ref="_operatorButtonRef"
            @onclick="() => HandleOnHeaderClick(_selectedItem)"
            @onkeydown="e => HandleOnTriggerKeyDown(e, Split is false)"
            type="button"
            id="@(_Id + "-opb")"
            title="@Title"
            tabindex="@(IsEnabled ? 0 : -1)"
            aria-label="@AriaLabel"
            aria-hidden="@AriaHidden"
            aria-describedby="@AriaDescription"
            aria-haspopup="@(Split ? null : "menu")"
            aria-controls="@(Split ? null : _calloutId)"
            aria-expanded="@(Split ? null : IsOpen.ToString().ToLower())"
            style="@GetStyle(_selectedItem);@Styles?.OperatorButton"
            class="bit-mnb-opb @GetClass(_selectedItem) @Classes?.OperatorButton"
            aria-pressed="@(Toggle && Split ? IsToggled.ToString().ToLower() : null)">
        @if (Sticky)
        {
            var template = GetTemplate(_selectedItem);
            if (template is not null)
            {
                @template(_selectedItem!)
            }
            else if (ItemTemplate is not null)
            {
                @ItemTemplate(_selectedItem)
            }
            else
            {
                var icon = GetIcon(_selectedItem);
                @if (IsLoading)
                {
                    <div style="@Styles?.Spinner" class="bit-mnb-spn @Classes?.Spinner"></div>
                }
                else if (NoIcon is false && icon is not null)
                {
                    <i style="@Styles?.OperatorButtonIcon" class="@icon.GetCssClasses() @Classes?.OperatorButtonIcon" />
                }
                <span style="@Styles?.OperatorButtonText" class="bit-mnb-btx @Classes?.OperatorButtonText">
                    @GetText(_selectedItem)
                </span>
            }
        }
        else
        {
            var headerIcon = BitIconInfo.From(Icon, IconName);
            @if (HeaderTemplate is not null)
            {
                @HeaderTemplate
            }
            else
            {
                @if (IsLoading)
                {
                    <div style="@Styles?.Spinner" class="bit-mnb-spn @Classes?.Spinner"></div>
                }
                else if (NoIcon is false && headerIcon is not null)
                {
                    <i style="@Styles?.Icon" class="@headerIcon.GetCssClasses() @Classes?.Icon" />
                }

                @if (Text.HasValue())
                {
                    <span style="@Styles?.Text" class="bit-mnb-btx @Classes?.Text">@Text</span>
                }
            }
        }

        @if (Split is false)
        {
            var chevronIcon = BitIconInfo.From(ChevronDownIcon, ChevronDownIconName ?? "ChevronRight bit-ico-r90");
            <i style="@Styles?.ChevronDown" class="@chevronIcon?.GetCssClasses() @Classes?.ChevronDown" />
        }
    </button>

    @if (Split)
    {
        <span style="@Styles?.Separator" class="bit-mnb-spb @Classes?.Separator"></span>

        <button @ref="_chevronButtonRef"
                @onclick="async () => await OpenCallout()"
                @onkeydown="e => HandleOnTriggerKeyDown(e, true)"
                type="button"
                id="@(_Id + "-chb")"
                tabindex="@(IsEnabled ? 0 : -1)"
                aria-haspopup="menu"
                aria-controls="@_calloutId"
                aria-label="@ChevronDownAriaLabel"
                aria-expanded="@IsOpen.ToString().ToLower()"
                style="@Styles?.ChevronDownButton"
                class="bit-mnb-chb @Classes?.ChevronDownButton">
            @{
                var chevronIcon = BitIconInfo.From(ChevronDownIcon, ChevronDownIconName ?? "ChevronRight bit-ico-r90");
            }
            <i style="@Styles?.ChevronDown" class="@chevronIcon?.GetCssClasses() @Classes?.ChevronDown" />
        </button>
    }
</div>

<div @onclick="CloseCallout" @onclick:stopPropagation
     style="display:@(IsOpen ? "block" : "none");@Styles?.Overlay"
     id="@_overlayId"
     class="bit-mnb-ovl @Classes?.Overlay"></div>

<div @onkeydown="HandleOnCalloutKeyDown"
     id="@_calloutId"
     style="@Styles?.Callout"
     class="bit-mnb-cal @GetCalloutCss() @Classes?.Callout">
    <ul role="menu"
        aria-labelledby="@(_Id + (Split && ChevronDownAriaLabel.HasValue() ? "-chb" : "-opb"))"
        style="@Styles?.CalloutContainer"
        class="bit-mnb-cul @Classes?.CalloutContainer">
        @if (Options is not null || ChildContent is not null)
        {
            <CascadingValue Value="this" IsFixed="true">
                @(Options ?? ChildContent)
            </CascadingValue>
        }
        else
        {
            @for (int i = 0; i < _items.Count; i++)
            {
                var item = _items[i];
                <_BitMenuButtonItem @key="@GetItemKey(item, i.ToString())" MenuButton="this" Item="item" />
            }
        }
    </ul>
</div>
