@namespace Bit.BlazorUI
@inherits BitComponentBase

@{
    var presentationIconName = GetPresentationIconName();
    var presentationIcon = GetPresentationIcon();

    var presenceIconInfo = BitIconInfo.From(presentationIcon, presentationIconName);
}

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()">

    <div style="@Styles?.CoinContainer" class="bit-prs-cin @Classes?.CoinContainer" role="presentation">
        @if (Size is BitPersonaSize.Size8)
        {
            if (Presence is BitPersonaPresence.None)
            {
                @if (presenceIconInfo is not null)
                {
                    <i role="presentation"
                       style="@Styles?.PresentationIcon"
                       class="bit-prs-pic @presenceIconInfo.GetCssClasses() @Classes?.PresentationIcon" />
                }
            }
            else
            {
                <div title="@PresenceTitle"
                     style="@Styles?.Presentation"
                     class="bit-prs-pre @GetPresentationClass() @Classes?.Presentation"></div>
            }
        }
        else
        {

            <div style="@GetImageContainerStyle()" class="@GetImageContainerClass()" @onclick="HandleImageClick">
                @if (Unknown)
                {
                    var unknownIconInfo = BitIconInfo.From(UnknownIcon, UnknownIconName ?? "Help");

                    <i style="@Styles?.UnknownIcon" class="@unknownIconInfo?.GetCssClasses() @Classes?.UnknownIcon" role="presentation" />
                }
                else if (ImageUrl.HasValue() || CoinTemplate is not null)
                {
                    if (OnImageClick.HasDelegate)
                    {
                        <div style="@Styles?.ImageOverlay" class="bit-prs-imo @GetCoinClass() @Classes?.ImageOverlay">
                            @if (ImageOverlayTemplate is not null)
                            {
                                @ImageOverlayTemplate
                            }
                            else
                            {
                                <span style="@Styles?.ImageOverlayText" class="@Classes?.ImageOverlayText">@ImageOverlayText</span>
                            }
                        </div>
                    }

                    if ((ShowInitialsUntilImageLoads && _isLoaded is false) || _hasError)
                    {
                        <span style="@Styles?.Initials" class="bit-prs-ini @Classes?.Initials">
                            @GetInitials()
                        </span>
                    }

                    if (CoinTemplate is not null)
                    {
                        @CoinTemplate
                    }
                    else if (ImageUrl.HasValue())
                    {
                        if (_hasError is false)
                        {
                            var dimension = GetPersonaImageDimension();

                            <img @onload="HandleOnLoad"
                                 @onerror="HandleOnError"
                                 src="@ImageUrl"
                                 alt="@ImageAlt"
                                 width="@dimension"
                                 height="@dimension"
                                 srcset="@ImageSrcSet"
                                 class="bit-prs-img @Classes?.Image"
                                 loading="@ImageLoading?.ToString().ToLower()"
                                 style="@($"{(_isLoaded ? null : "opacity:0;")}{Styles?.Image}")" />
                        }
                    }
                }
                else
                {
                    <span style="@Styles?.Initials" class="bit-prs-ini @Classes?.Initials">
                        @GetInitials()
                    </span>
                }
            </div>

            @if (OnActionClick.HasDelegate)
            {
                @if (ActionTemplate is not null)
                {
                    @ActionTemplate
                }
                else
                {
                    var actionIcon = BitIconInfo.From(ActionIcon, ActionIconName ?? "Edit");
                    <button @onclick="HandleActionClick"
                            type="button"
                            title="@ActionButtonTitle"
                            style="@Styles?.ActionButton"
                            class="bit-prs-abt @Classes?.ActionButton">
                        @if (actionIcon is not null)
                        {
                            <i style="@Styles?.ActionButtonIcon"
                               class="bit-prs-aic @actionIcon.GetCssClasses() @Classes?.ActionButtonIcon" />
                        }
                    </button>
                }
            }
            else if (Presence is not BitPersonaPresence.None)
            {
                <div title="@PresenceTitle" style="@GetPresentationStyle()" class="bit-prs-pre @GetPresentationClass() @Classes?.Presence">
                    @if (presenceIconInfo is not null)
                    {
                        <i role="presentation"
                           style="@Styles?.PresentationIcon"
                           class="@presenceIconInfo?.GetCssClasses() @Classes?.PresentationIcon" />
                    }
                </div>
            }
        }
    </div>

    @if (HidePersonaDetails is false || Size is BitPersonaSize.Size8)
    {
        <div style="@Styles?.DetailsContainer" class="bit-prs-det @Classes?.DetailsContainer">
            <div title="@PrimaryText"
                 style="@Styles?.PrimaryTextContainer"
                 class="bit-prs-ptx @Classes?.PrimaryTextContainer">
                @if (PrimaryTextTemplate is not null)
                {
                    @PrimaryTextTemplate
                }
                else
                {
                    @PrimaryText
                }
            </div>
            <div title="@SecondaryText"
                 style="@Styles?.SecondaryTextContainer"
                 class="bit-prs-stx @Classes?.SecondaryTextContainer">
                @if (SecondaryTextTemplate is not null)
                {
                    @SecondaryTextTemplate
                }
                else
                {
                    @SecondaryText
                }
            </div>
            <div title="@TertiaryText"
                 style="@Styles?.TertiaryTextContainer"
                 class="bit-prs-ttx @Classes?.TertiaryTextContainer">
                @if (TertiaryTextTemplate is not null)
                {
                    @TertiaryTextTemplate
                }
                else
                {
                    @TertiaryText
                }
            </div>
            <div title="@OptionalText"
                 style="@Styles?.OptionalTextContainer"
                 class="bit-prs-otx @Classes?.OptionalTextContainer">
                @if (OptionalTextTemplate is not null)
                {
                    @OptionalTextTemplate
                }
                else
                {
                    @OptionalText
                }
            </div>
        </div>
    }

</div>

