@namespace Bit.BlazorUI.Demo.Client.Core.Pages.Components.Extras.Chart

<DemoExample Title="Two players" RazorCode="@twoPlayersRazorCode" CsharpCode="@twoPlayersCsharpCode" Id="radar-two-players">
    <div class="example-desc">filled areas</div>
    <div class="chart-wrapper"><div class="chart-container"><BitChart RespectReducedMotion="false" Type="BitChartType.Radar" Data="BitChartSampleData.Skills()" Options="_bottom" /></div></div>
</DemoExample>

<DemoExample Title="Outline only" RazorCode="@outlineRazorCode" CsharpCode="@outlineCsharpCode" Id="radar-outline" PreventRenderForMcpClient>
    <div class="example-desc">no fill, thicker borders</div>
    <div class="chart-wrapper"><div class="chart-container"><BitChart RespectReducedMotion="false" Type="BitChartType.Radar" Data="@Outline()" Options="_bottom" /></div></div>
</DemoExample>

<DemoExample Title="Circular grid" RazorCode="@circularRazorCode" CsharpCode="@circularCsharpCode" Id="radar-circular">
    <div class="example-desc">grid.circular + styled point labels &amp; backdrop</div>
    <div class="chart-wrapper"><div class="chart-container"><BitChart RespectReducedMotion="false" Type="BitChartType.Radar" Data="BitChartSampleData.Skills()" Options="@_circular" /></div></div>
</DemoExample>

<DemoExample Title="Skipped points" RazorCode="@skipRazorCode" CsharpCode="@skipCsharpCode" Id="radar-skipped">
    <div class="example-desc">null values are skipped, not zeroed</div>
    <div class="chart-wrapper"><div class="chart-container"><BitChart RespectReducedMotion="false" Type="BitChartType.Radar" Data="@Skip()" Options="_bottom" /></div></div>
</DemoExample>
