@namespace Bit.BlazorUI.Demo.Client.Core.Pages.Components.Extras.Chart

<DemoExample Title="Rainfall + temperature" RazorCode="@comboRazorCode" CsharpCode="@comboCsharpCode" Id="multiaxis-rainfall-temperature">
    <div class="example-desc">bars on left axis, line on right axis</div>
    <div class="chart-wrapper"><div class="chart-container"><BitChart RespectReducedMotion="false" Data="BitChartSampleData.TempAndRainfall()" Options="_combo" /></div></div>
</DemoExample>

<DemoExample Title="Dual line axes" RazorCode="@dualLineRazorCode" CsharpCode="@dualLineCsharpCode" Id="multiaxis-dual-line-axes">
    <div class="example-desc">two metrics with very different ranges</div>
    <div class="chart-wrapper"><div class="chart-container"><BitChart RespectReducedMotion="false" Type="BitChartType.Line" Data="DualLine()" Options="_dual" /></div></div>
</DemoExample>

<DemoExample Title="Two x-axes" RazorCode="@dualXRazorCode" CsharpCode="@dualXCsharpCode" Id="multiaxis-two-x-axes">
    <div class="example-desc">a second x-axis (top) with its own scale</div>
    <div class="chart-wrapper"><div class="chart-container"><BitChart RespectReducedMotion="false" Type="BitChartType.Scatter" Data="DualX()" Options="_dualX" /></div></div>
</DemoExample>
