@namespace Bit.BlazorUI
@inherits BitComponentBase

<BitModal AriaLabel="@_params.AriaLabel"
          AriaModal="(_params.Modeless ?? false) is false"
          Class="@ClassBuilder.Value"
          Dir="_params.Dir"
          @attributes="_params.HtmlAttributes"
          Id="@_modalId"
          IsEnabled="_params.IsEnabled ?? true"
          Style="@StyleBuilder.Value"
          Visibility="_params.Visibility ?? BitVisibility.Visible"
          Blocking="_params.Blocking ?? false"
          Classes="_classes"
          FullHeight="(_params.FullHeight ?? false) || (_params.FullSize ?? false)"
          FullWidth="(_params.FullWidth ?? false) || (_params.FullSize ?? false)"
          IsAlert="@(_params.IsAlert ?? ((_params.Blocking ?? false) && (_params.Modeless ?? false) is false))"
          IsOpen="IsOpen"
          IsOpenChanged="HandleInnerIsOpenChanged"
          OnDismiss="_params.OnDismiss"
          OnOverlayClick="_params.OnOverlayClick"
          ShowOverlay="(_params.Modeless ?? false) is false"
          SubtitleAriaId="@_params.SubtitleAriaId"
          TitleAriaId="@_params.TitleAriaId"
          Styles="_styles">
    @if (_params.Header is not null || _params.HeaderText is not null || (_params.ShowCloseButton ?? false))
    {
        <div style="@_styles?.HeaderContainer" class="bit-pmd-hcn @_classes?.HeaderContainer">
            @if (_params.Header is not null)
            {
                <div style="@_styles?.Header" class="bit-pmd-hdr @_classes?.Header">
                    @_params.Header
                </div>
            }
            else if (_params.HeaderText is not null)
            {
                <div style="@_styles?.Header" class="bit-pmd-hdr @_classes?.Header">
                    @_params.HeaderText
                </div>
            }

            @if (_params.ShowCloseButton ?? false)
            {
                var closeIcon = BitIconInfo.From(_params.CloseIcon, _params.CloseIconName ?? "Cancel");

                <button @onclick="CloseModal"
                        type="button"
                        title="@(_params.CloseButtonTitle ?? DefaultCloseButtonTitle)"
                        aria-label="@(_params.CloseButtonTitle ?? DefaultCloseButtonTitle)"
                        style="@_styles?.CloseButton"
                        class="bit-pmd-cls @_classes?.CloseButton">
                    <i style="@_styles?.CloseIcon"
                       class="@closeIcon?.GetCssClasses() @_classes?.CloseIcon" />
                </button>
            }
        </div>
    }

    <div style="@_styles?.Body" class="bit-pmd-bdy @_classes?.Body">
        @(Body ?? ChildContent)
    </div>

    @if (_params.Footer is not null)
    {
        <div style="@_styles?.Footer" class="bit-pmd-fcn @_classes?.Footer">
            @_params.Footer
        </div>
    }
    else if (_params.FooterText is not null)
    {
        <div style="@_styles?.Footer" class="bit-pmd-fcn @_classes?.Footer">
            @_params.FooterText
        </div>
    }
</BitModal>
