@attribute [Route(PageUrls.About)]
@attribute [Route("{culture?}" + PageUrls.About)]
@inherits AppPageBase

<AppPageData Title="@Localizer[nameof(AppStrings.About)]"
             PageTitle="@Localizer[nameof(AppStrings.AboutPageTitle)]" />

<CascadingValue Value=BitDir.Ltr>
    <section>
        <BitStack Gap="1.5rem">
            <AppInfoCard AppName="@appName"
                         AppVersion="@appVersion"
                         Platform="@platform"
                         Environment="@AppEnvironment.Current"
                         ProcessId="@processId"
                         WebView="@webView">
                <Note>
                    For Razor pages that depend exclusively on native Windows features, consider the <b>Client.Windows</b>
                    project instead of <b>Client.Core</b>. This gives you direct access to native features without
                    dependency injection or publish-subscribe messaging.
                </Note>
            </AppInfoCard>

            <BitCard FullSize>
                <Acknowledgements />
            </BitCard>
        </BitStack>
    </section>
</CascadingValue>
