@inherits AppComponentBase

<section>
    <BitStack HorizontalAlign="BitAlignment.Center">
        <EditForm Model="model" OnValidSubmit="WrapHandled(ChangePassword)" novalidate class="max-width">
            <AppDataAnnotationsValidator @ref="validatorRef" />

            <BitStack FillContent>
                <BitTextField @bind-Value="model.OldPassword"
                              AutoFocus TabIndex="1"
                              CanRevealPassword
                              AutoComplete="current-password"
                              Type="BitInputType.Password"
                              Label="@Localizer[nameof(AppStrings.OldPassword)]" />
                <ValidationMessage For="@(() => model.OldPassword)" />

                <BitTextField @bind-Value="model.NewPassword"
                              TabIndex="2"
                              CanRevealPassword
                              AutoComplete="new-password"
                              Type="BitInputType.Password"
                              Label="@Localizer[nameof(AppStrings.NewPassword)]" />
                <ValidationMessage For="@(() => model.NewPassword)" />

                <BitTextField @bind-Value="model.ConfirmPassword"
                              TabIndex="3"
                              CanRevealPassword
                              AutoComplete="new-password"
                              Type="BitInputType.Password"
                              Label="@Localizer[nameof(AppStrings.ConfirmNewPassword)]" />
                <ValidationMessage For="@(() => model.ConfirmPassword)" />

                <BitButton IsLoading="isWaiting" ButtonType="BitButtonType.Submit">
                    @Localizer[nameof(AppStrings.ChangePasswordButtonText)]
                </BitButton>
            </BitStack>
        </EditForm>
        <br />
    </BitStack>
</section>
