@page "/components/promodal"

<PageOutlet Url="components/promodal"
            Title="ProModal"
            Description="ProModal is an advanced version of normal Modal with additional features tailored for more common use-cases." />

<div>
    <DemoPage Name="ProModal"
              Description="ProModal is an advanced version of normal Modal with additional features tailored for more common use-cases."
              Parameters="componentParameters"
              SubClasses="componentSubClasses"
              SubEnums="componentSubEnums"
              GitHubExtrasUrl="ProModal/BitProModal.razor"
              GitHubDemoUrl="Extras/ProModal/BitProModalDemo.razor">
        <NotesTemplate>
            <BitText>
                To use this component, you need to install the
                <BitLink Href="https://www.nuget.org/packages/Bit.BlazorUI.Extras" Target="_blank">
                    <BitTag Reversed
                            Text="Bit.BlazorUI.Extras"
                            Color="BitColor.SecondaryBackground"
                            IconName="@BitIconName.NavigateExternalInline" />
                </BitLink>
                nuget package, as described in the Optional steps of the
                <BitLink Href="/getting-started">Getting started</BitLink> page.
            </BitText>
            <br />
            <BitText>
                There are two different modal components available for different purposes: <b>BitProModal</b> is an
                advanced modal with extra features such as dragging, blocking, modeless, positioning, full-size and
                scroll handling, while <BitLink Href="/components/modal">BitModal</BitLink> is a basic, lightweight modal
                for simple pop-up content. Pick the one that fits your use-case.
            </BitText>
        </NotesTemplate>
        <Examples>
            <DemoExample Title="Basic" RazorCode="@example1RazorCode" CsharpCode="@example1CsharpCode" Id="example1">
                <BitButton OnClick="() => isBasicProModalOpen = true">Open ProModal</BitButton>
                <BitProModal @bind-IsOpen="isBasicProModalOpen">
                    <div style="max-width:40rem">
                        In the beginning, there is silence a blank canvas yearning to be filled, a quiet space where creativity waits
                        to awaken. These words are temporary, standing in place of ideas yet to come, a glimpse into the infinite
                        possibilities that lie ahead. Think of this text as a bridge, connecting the empty spaces of now with the
                        vibrant narratives of tomorrow. It whispers of the stories waiting to be told, of the thoughts yet to be
                        shaped into meaning, and the emotions ready to resonate with every reader.
                        <br />
                        In this space, potential reigns supreme. It is a moment suspended in time, where imagination dances freely and
                        each word has the power to transform into something extraordinary. Here lies the start of something new-an
                        opportunity to craft, inspire, and create. Whether it's a tale of adventure, a reflection of truth, or an
                        idea that sparks change, these lines are yours to fill, to shape, and to make uniquely yours. The journey
                        begins here, in this quiet moment where everything is possible.
                    </div>
                </BitProModal>
            </DemoExample>

            <DemoExample Title="Header & Footer" RazorCode="@example2RazorCode" CsharpCode="@example2CsharpCode" Id="example2">
                <BitButton OnClick="() => isProModalWithHeaderTextOpen = true">Open ProModal with HeaderText</BitButton>
                <BitProModal @bind-IsOpen="isProModalWithHeaderTextOpen"
                             HeaderText="BitProModal with HeaderText">
                    <div style="max-width:40rem">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis.
                    </div>
                </BitProModal>

                <br /><br />

                <BitButton OnClick="() => isProModalWithHeaderOpen = true">Open ProModal with Header</BitButton>
                <BitProModal @bind-IsOpen="isProModalWithHeaderOpen">
                    <Header>
                        <div>
                            <div style="margin-bottom:4px">BitProModal with Header</div>
                            <BitSearchBox Placeholder="Search here..." />
                        </div>
                    </Header>
                    <Body>
                        <div style="max-width:40rem">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                            amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis.
                        </div>
                    </Body>
                </BitProModal>

                <br /><br />

                <BitButton OnClick="() => isProModalWithFooterTextOpen = true">Open ProModal with FooterText</BitButton>
                <BitProModal @bind-IsOpen="isProModalWithFooterTextOpen"
                             FooterText="BitProModal with FooterText">
                    <div style="max-width:40rem">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis.
                    </div>
                </BitProModal>

                <br /><br />

                <BitButton OnClick="() => isProModalWithFooterOpen = true">Open ProModal with Footer</BitButton>
                <BitProModal @bind-IsOpen="isProModalWithFooterOpen">
                    <Body>
                        <div style="max-width:40rem">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                            amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis.
                        </div>
                    </Body>
                    <Footer>
                        <h3 style="margin-bottom:4px">BitProModal with Footer</h3>
                        <BitButton OnClick="() => isProModalWithFooterOpen = false">Save</BitButton>
                        <BitButton OnClick="() => isProModalWithFooterOpen = false" Variant="BitVariant.Outline">Close</BitButton>
                    </Footer>
                </BitProModal>
            </DemoExample>

            <DemoExample Title="NoBorder" RazorCode="@example3RazorCode" CsharpCode="@example3CsharpCode" Id="example3">
                <div>By default, the BitProModal has a top border. Use the NoBorder parameter to remove it.</div><br />
                <BitButton OnClick="() => isNoBorderProModalOpen = true">Open ProModal with NoBorder</BitButton>
                <BitProModal @bind-IsOpen="isNoBorderProModalOpen"
                             NoBorder
                             ShowCloseButton
                             HeaderText="NoBorder">
                    <div style="max-width:40rem">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt.
                    </div>
                </BitProModal>
            </DemoExample>

            <DemoExample Title="Advanced options" RazorCode="@example4RazorCode" CsharpCode="@example4CsharpCode" Id="example4">
                <div>BitProModal has some advanced options to be customized.</div><br />
                <BitButton OnClick="() => bitProModalRef.Open()">Open ProModal with ShowCloseButton</BitButton>
                <BitProModal @ref="bitProModalRef"
                             ShowCloseButton
                             HeaderText="ShowCloseButton">
                    <div style="max-width:40rem">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt.
                    </div>
                </BitProModal>

                <br /><br />

                <BitButton OnClick="() => isBlockingProModalOpen = true">Open ProModal with Blocking</BitButton>
                <BitProModal @bind-IsOpen="isBlockingProModalOpen"
                             Blocking
                             ShowCloseButton
                             HeaderText="Blocking">
                    <div style="max-width:40rem">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt.
                    </div>
                </BitProModal>

                <br /><br />

                <BitButton OnClick="() => isModelessProModalOpen = !isModelessProModalOpen">Toggle ProModal with Modeless</BitButton>
                <BitProModal @bind-IsOpen="isModelessProModalOpen"
                             Modeless
                             ShowCloseButton
                             HeaderText="Modeless">
                    <div style="max-width:40rem">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt.
                    </div>
                </BitProModal>

                <br /><br />

                <BitButton OnClick="() => isModeFullProModalOpen = true">Open ProModal with ModeFull</BitButton>
                <BitProModal @bind-IsOpen="isModeFullProModalOpen"
                             ModeFull
                             ShowCloseButton
                             HeaderText="ModeFull">
                    <div style="max-width:40rem">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt.
                    </div>
                </BitProModal>

                <br /><br />

                <BitButton OnClick="() => isAutoToggleScrollProModalOpen = true">Open ProModal with AutoToggleScroll</BitButton>
                <BitProModal @bind-IsOpen="isAutoToggleScrollProModalOpen"
                             ShowCloseButton
                             AutoToggleScroll
                             HeaderText="AutoToggleScroll"
                             ScrollerElement="appShellContainer">
                    <div style="max-width:40rem">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt.
                    </div>
                </BitProModal>
            </DemoExample>

            <DemoExample Title="Size" RazorCode="@example5RazorCode" CsharpCode="@example5CsharpCode" Id="example5">
                <div>BitProModal has size related parameters to make it occupy available screen width/height or both.</div>
                <br /><br />
                <BitButton OnClick="() => isOpenFullSize = true">Open ProModal with FullSize</BitButton>
                <BitProModal @bind-IsOpen="isOpenFullSize"
                             ShowCloseButton
                             FullSize="isFullSize"
                             HeaderText="FullSize ProModal">
                    <div style="max-width:40rem">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis.
                        <hr />
                        <BitToggleButton @bind-IsChecked="isFullSize" OnText="Restore" OffText="FullSize" />
                    </div>
                </BitProModal>

                <br /><br />

                <BitButton OnClick="() => isOpenFullWidth = true">Open ProModal with FullWidth</BitButton>
                <BitProModal @bind-IsOpen="isOpenFullWidth"
                             ShowCloseButton
                             FullWidth="isFullWidth"
                             HeaderText="FullWidth ProModal">
                    <div style="max-width:40rem">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis.
                        <hr />
                        <BitToggleButton @bind-IsChecked="isFullWidth" OnText="Restore" OffText="FullWidth" />
                    </div>
                </BitProModal>

                <br /><br />

                <BitButton OnClick="() => isOpenFullHeight = true">Open ProModal with FullHeight</BitButton>
                <BitProModal @bind-IsOpen="isOpenFullHeight"
                             ShowCloseButton
                             FullHeight="isFullHeight"
                             HeaderText="FullHeight ProModal">
                    <div style="max-width:40rem">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis.
                        <hr />
                        <BitToggleButton @bind-IsChecked="isFullHeight" OnText="Restore" OffText="FullHeight" />
                    </div>
                </BitProModal>
            </DemoExample>

            <DemoExample Title="AbsolutePosition" RazorCode="@example6RazorCode" CsharpCode="@example6CsharpCode" Id="example6">
                <div>BitProModal has an absolute position option to further customize its location.</div><br />
                <BitButton OnClick="() => isOpenAbsolutePosition = true">Open ProModal</BitButton>
                <br /><br />
                <BitButton OnClick="() => isOpenScrollerSelector = true">Open ProModal (AutoToggleScroll & ScrollerSelector)</BitButton>

                <br /><br />

                <div class="relative-container" id="modal-scroller">
                    <BitProModal @bind-IsOpen="isOpenAbsolutePosition"
                                 ShowCloseButton
                                 AbsolutePosition
                                 HeaderText="AbsolutePosition">
                        <div style="max-width:40rem">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                            amet, vulputate in leo.
                        </div>
                    </BitProModal>

                    <BitProModal @bind-IsOpen="isOpenScrollerSelector"
                                 ShowCloseButton
                                 AbsolutePosition
                                 AutoToggleScroll
                                 ScrollerSelector="#modal-scroller"
                                 HeaderText="AbsolutePosition with AutoToggleScroll and ScrollerSelector">
                        <div style="max-width:40rem">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                            amet, vulputate in leo.
                        </div>
                    </BitProModal>

                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                        turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                        ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                        Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                        Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                        efficitur.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                        turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                        ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                        turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                        ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                        Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                        Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                        efficitur.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                        turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                        ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                        turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                        ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                        Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                        Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                        efficitur.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                        turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                        ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                    </div>
                </div>
            </DemoExample>

            <DemoExample Title="Position" RazorCode="@example7RazorCode" CsharpCode="@example7CsharpCode" Id="example7">
                <div>To set the ProModal position on the page you can use the Position parameter.</div><br />
                <div class="position-btn">
                    <div>
                        <BitButton Class="position-button" OnClick="() => OpenModalInPosition(BitPosition.TopLeft)">Top Left</BitButton>
                        <BitButton Class="position-button" OnClick="() => OpenModalInPosition(BitPosition.TopCenter)">Top Center</BitButton>
                        <BitButton Class="position-button" OnClick="() => OpenModalInPosition(BitPosition.TopRight)">Top Right</BitButton>
                    </div>
                    <div>
                        <BitButton Class="position-button" OnClick="() => OpenModalInPosition(BitPosition.CenterLeft)">Center Left</BitButton>
                        <BitButton Class="position-button" OnClick="() => OpenModalInPosition(BitPosition.Center)">Center</BitButton>
                        <BitButton Class="position-button" OnClick="() => OpenModalInPosition(BitPosition.CenterRight)">Center Right</BitButton>
                    </div>
                    <div>
                        <BitButton Class="position-button" OnClick="() => OpenModalInPosition(BitPosition.BottomLeft)">Bottom Left</BitButton>
                        <BitButton Class="position-button" OnClick="() => OpenModalInPosition(BitPosition.BottomCenter)">Bottom Center</BitButton>
                        <BitButton Class="position-button" OnClick="() => OpenModalInPosition(BitPosition.BottomRight)">Bottom Right</BitButton>
                    </div>
                </div>
                <BitProModal @bind-IsOpen="isOpenPosition" Position="position" ShowCloseButton>
                    <Header>
                        Position: @position
                    </Header>
                    <Body>
                        <div style="max-width:40rem">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                            amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis.
                        </div>
                    </Body>
                </BitProModal>
            </DemoExample>

            <DemoExample Title="Draggable" RazorCode="@example8RazorCode" CsharpCode="@example8CsharpCode" Id="example8">
                <div>The Draggable parameter of the BitProModal allows users to move the modal around the screen.</div><br />
                <BitButton OnClick="() => isOpenDraggable = true">Open ProModal</BitButton>
                <BitProModal @bind-IsOpen="isOpenDraggable"
                             Draggable
                             ShowCloseButton
                             HeaderText="Draggable">
                    <div style="max-width:40rem">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis.
                    </div>
                </BitProModal>
                <br /><br />
                <div>Using custom drag element:</div><br />
                <BitButton OnClick="() => isOpenDraggableSelector = true">Open ProModal</BitButton>
                <BitProModal @bind-IsOpen="isOpenDraggableSelector"
                             Draggable
                             ShowCloseButton
                             DragElementSelector="#modal-drag-element">
                    <div style="max-width:40rem">
                        <h3 id="modal-drag-element" style="color:white; background:brown; padding:1rem">
                            Draggable with DragElementSelector
                        </h3>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo.
                    </div>
                </BitProModal>
            </DemoExample>

            <DemoExample Title="Events" RazorCode="@example9RazorCode" CsharpCode="@example9CsharpCode" Id="example9">
                <div>Explore different events available in the BitProModal component:</div>
                <br /><br />
                <div>OnOpen:</div><br />
                <BitButton OnClick="() => isOnOpenProModalOpen = true">Open OnOpen ProModal</BitButton>
                <BitProModal @bind-IsOpen="isOnOpenProModalOpen"
                             ShowCloseButton
                             HeaderText="OnOpen"
                             OnOpen="() => onOpenTextFieldRef.FocusAsync()">
                    <div style="max-width:40rem">
                        The following text field will be focused on open:
                        <br /><br />
                        <BitTextField @ref="onOpenTextFieldRef" />
                    </div>
                </BitProModal>
                <br /><br />
                <div>OnDismiss:</div><br />
                <BitButton OnClick="() => isOnDismissProModalOpen = true">Open OnDismiss ProModal</BitButton>
                <br /><br />
                <BitTextField @ref="onDismissTextFieldRef" Placeholder="This will be focused on dismiss..." />
                <BitProModal @bind-IsOpen="isOnDismissProModalOpen"
                             ShowCloseButton
                             HeaderText="OnDismiss"
                             OnDismiss="() => onDismissTextFieldRef.FocusAsync()">
                    <div style="max-width:40rem">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo.
                    </div>
                </BitProModal>
            </DemoExample>

            <DemoExample Title="Style & Class" RazorCode="@example10RazorCode" CsharpCode="@example10CsharpCode" Id="example10">
                <div>Using css related parameters users can further customize the modal based on their needs.</div>
                <br /><br />
                <div>Component's Style & Class:</div><br />
                <BitButton OnClick="() => isOpenStyle = true">Open styled ProModal</BitButton>
                <BitProModal @bind-IsOpen="isOpenStyle"
                             ShowCloseButton
                             HeaderText="Style"
                             Style="box-shadow:inset 0 0 1.5rem 1.5rem palevioletred;">
                    <div style="max-width:40rem">
                        BitProModal with custom style.
                    </div>
                </BitProModal>

                <br /><br />

                <BitButton OnClick="() => isOpenClass = true">Open classed ProModal</BitButton>
                <BitProModal @bind-IsOpen="isOpenClass"
                             ShowCloseButton
                             HeaderText="Class"
                             Class="custom-class">
                    <div style="max-width:40rem">
                        BitProModal with custom class.
                    </div>
                </BitProModal>

                <br /><br /><br />
                <div><b>Styles</b> & <b>Classes</b>:</div><br />
                <BitButton OnClick="() => isOpenStyles = true">Open ProModal Styles</BitButton>
                <BitProModal @bind-IsOpen="isOpenStyles"
                             ShowCloseButton
                             HeaderText="Styles"
                             Styles="@(new()
                             {
                                 Overlay = "background-color:#4776f433;",
                                 Content = "box-shadow: 0 0 1rem tomato;"
                             })">
                    <div style="max-width:40rem">
                        BitProModal with <b>Styles</b> to customize its elements.
                    </div>
                </BitProModal>

                <br /><br />

                <BitButton OnClick="() => isOpenClasses = true">Open ProModal Classes</BitButton>
                <BitProModal @bind-IsOpen="isOpenClasses"
                             ShowCloseButton
                             HeaderText="Classes"
                             FooterText="This is a footer text!"
                             Classes="@(new()
                             {
                                 Root = "custom-root",
                                 Overlay = "custom-overlay",
                                 Content = "custom-content",
                                 HeaderContainer = "custom-header-container",
                                 Header = "custom-header",
                                 Body = "custom-body",
                                 Footer = "custom-footer"
                             })">
                    <div style="max-width:40rem">
                        BitProModal with <b>Classes</b> to customize its elements.
                    </div>
                </BitProModal>
            </DemoExample>

            <DemoExample Title="External Icon" RazorCode="@example11RazorCode" CsharpCode="@example11CsharpCode" Id="example11">
                <div>Use icons from external libraries like FontAwesome to customize the close button icon with the <b>CloseIcon</b> parameter.</div>
                <br /><br />
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
                <BitButton OnClick="() => isExternalIconProModalOpen = true">Open ProModal</BitButton>
                <BitProModal @bind-IsOpen="isExternalIconProModalOpen"
                             ShowCloseButton
                             HeaderText="External Close Icon"
                             CloseIcon="@BitIconInfo.Fa("solid xmark")">
                    <div style="max-width:40rem">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo.
                    </div>
                </BitProModal>
            </DemoExample>

            <DemoExample Title="RTL" RazorCode="@example12RazorCode" CsharpCode="@example12CsharpCode" Id="example12">
                <div>Use BitProModal in right-to-left (RTL).</div><br />
                <div dir="rtl">
                    <BitButton Dir="BitDir.Rtl" OnClick="() => isOpenRtl = true">باز کردن مُدال</BitButton>
                </div>
                <BitProModal @bind-IsOpen="isOpenRtl"
                             ShowCloseButton
                             Dir="BitDir.Rtl"
                             HeaderText="مدال راست به چپ">
                    <div style="max-width:40rem">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </div>
                </BitProModal>
            </DemoExample>
        </Examples>
    </DemoPage>
</div>
