@*+:cnd:noEmit*@
@using Boilerplate.Shared.Features.Categories

@attribute [Route(PageUrls.Categories)]
@attribute [Route("{culture?}" + PageUrls.Categories)]
@attribute [Authorize(Policy = AuthPolicies.PRIVILEGED_ACCESS)]
@*#if (multitenancy == true)*@
@attribute [Authorize(Policy = AuthPolicies.TENANT_SELECTED)]
@*#endif*@
@attribute [Authorize(Policy = AppFeatures.AdminPanel.ProductCatalog_Write)]
@inherits AppPageBase

<AppPageData Title="@Localizer[nameof(AppStrings.Categories)]"
             PageTitle="@Localizer[nameof(AppStrings.CategoriesPageTitle)]" />

<section>
    <BitStack>
        <BitStack Horizontal FitHeight>
            <BitButton ReversedIcon
                       OnClick="CreateCategory"
                       IconName="@BitIconName.Add">
                @Localizer[nameof(AppStrings.AddCategory)]
            </BitButton>
            @if (isLoading)
            {
                <BitSlickBarsLoading CustomSize="32" />
            }
        </BitStack>
        <BitStack Gap="0" FillContent>
            <div class="grid-container">
                <BitDataGrid @ref="dataGrid"
                             TItem="CategoryDto"
                             Class="categories-grid"
                             OnRead="LoadCategories"
                             Loading="isLoading"
                             Pageable Filterable Resizable
                             ShowToolbar ShowCsvExport ShowExcelExport
                             PageSize="10"
                             Strings="DataGridStrings">
                    <BitDataGridColumn Title="@Localizer[nameof(AppStrings.Name)]"
                                       Property="c => c.Name" />

                    <BitDataGridColumn Title="@Localizer[nameof(AppStrings.Products)]"
                                       Property="c => c.ProductsCount"
                                       Width="140px"
                                       Filterable="false" />

                    <BitDataGridColumn Title="@Localizer[nameof(AppStrings.Color)]"
                                       Width="90px"
                                       Sortable="false"
                                       Filterable="false">
                        <Template Context="category">
                            <span class="color-box" style="background-color:@(category.Color)"></span>
                        </Template>
                    </BitDataGridColumn>

                    <BitDataGridColumn Title="@Localizer[nameof(AppStrings.Action)]"
                                       Align="BitDataGridColumnAlign.Center"
                                       Width="110px"
                                       Sortable="false"
                                       Filterable="false">
                        <Template Context="category">
                            <BitButton Variant="BitVariant.Text"
                                       IconName="@BitIconName.Edit"
                                       Title="@Localizer[(nameof(AppStrings.Edit))]"
                                       OnClick="WrapHandled(() => EditCategory(category))" />
                            <BitButton Color="BitColor.Error"
                                       Variant="BitVariant.Text"
                                       IconName="@BitIconName.Delete"
                                       Title="@Localizer[(nameof(AppStrings.Delete))]"
                                       OnClick="WrapHandled(() => { isDeleteDialogOpen = true; deletingCategory = category; })" />
                        </Template>
                    </BitDataGridColumn>
                </BitDataGrid>
            </div>
        </BitStack>
    </BitStack>
</section>

<BitDialog OnOk="WrapHandled(DeleteCategory)"
           @bind-IsOpen="isDeleteDialogOpen"
           OkText="@Localizer[nameof(AppStrings.Yes)]"
           CancelText="@Localizer[nameof(AppStrings.No)]"
           Title="@Localizer[nameof(AppStrings.DeleteProduct)]"
           Message="@Localizer.GetString(nameof(AppStrings.AreYouSureWannaDeleteProduct), deletingCategory?.Name ?? "")" />

<AddOrEditCategoryModal @ref="modal" OnSave="WrapHandled(RefreshData)" />
