@*+:cnd:noEmit*@
@attribute [Route(PageUrls.Products)]
@attribute [Route("{culture?}" + PageUrls.Products)]
@attribute [Authorize(Policy = AuthPolicies.PRIVILEGED_ACCESS)]
@*#if (multitenant == true)*@
@attribute [Authorize(Policy = AuthPolicies.TENANT_SELECTED)]
@*#endif*@
@attribute [Authorize(Policy = AppFeatures.AdminPanel.ProductCatalog_Manage)]
@inherits AppPageBase

<AppPageData Title="@Localizer[nameof(AppStrings.Products)]"
             PageTitle="@Localizer[nameof(AppStrings.ProductsPageTitle)]" />

<BitMediaQuery ScreenQuery="BitScreenQuery.LtSm" OnChange="isMatched => isSmallScreen = isMatched" />

<section>
    <BitStack>
        <BitStack FitHeight
                  Gap="0.5rem"
                  Horizontal="isSmallScreen is false">
            <BitStack Horizontal FitHeight>
                <BitButton ReversedIcon
                           IconName="@BitIconName.Add"
                           OnClick="WrapHandled(CreateProduct)">
                    @Localizer[nameof(AppStrings.AddProduct)]
                </BitButton>
                @if (isLoading)
                {
                    <BitSlickBarsLoading CustomSize="32" />
                }
            </BitStack>
            <BitSpacer />
            <BitSearchBox Underlined
                          ShowSearchButton
                          OnSearch="HandleOnSearch"
                          Color="BitColor.Secondary"
                          Style="@($"width:{(isSmallScreen ? 100 : 50)}%")"
                          Placeholder="@Localizer[nameof(AppStrings.SearchProductsPlaceholder)]" />
        </BitStack>
        <BitStack Gap="0" FillContent>
            <div class="grid-container">
                <BitDataGrid @ref="dataGrid"
                             TItem="ProductDto"
                             Class="products-grid"
                             OnRead="LoadProducts"
                             Loading="isLoading"
                             Pageable Filterable Resizable
                             ShowToolbar ShowCsvExport ShowExcelExport
                             PageSize="10"
                             Strings="DataGridStrings">
                    <BitDataGridColumn Title="@Localizer[nameof(AppStrings.Name)]"
                                       Property="p => p.Name" />

                    <BitDataGridColumn Title="@Localizer[nameof(AppStrings.Category)]"
                                       Property="p => p.CategoryName"
                                       Width="200px" />

                    <BitDataGridColumn Title="@($"{Localizer[nameof(AppStrings.Price)]} ({CultureInfo.CurrentCulture.NumberFormat.CurrencySymbol})")"
                                       Align="BitDataGridColumnAlign.Right"
                                       Property="p => p.Price"
                                       Width="160px"
                                       Filterable="false"
                                       Format="N0" />

                    <BitDataGridColumn Title="@Localizer[(nameof(AppStrings.Action))]"
                                       Align="BitDataGridColumnAlign.Center"
                                       Width="110px"
                                       Sortable="false"
                                       Filterable="false">
                        <Template Context="product">
                            <BitButton Variant="BitVariant.Text"
                                       IconName="@BitIconName.Edit"
                                       Title="@Localizer[(nameof(AppStrings.Edit))]"
                                       Href="@($"{PageUrls.AddOrEditProduct}/{product.Id}")" />
                            <BitButton Color="BitColor.Error"
                                       Variant="BitVariant.Text"
                                       IconName="@BitIconName.Delete"
                                       Title="@Localizer[(nameof(AppStrings.Delete))]"
                                       OnClick="WrapHandled(() => { isDeleteDialogOpen = true; deletingProduct = product; })" />
                        </Template>
                    </BitDataGridColumn>
                </BitDataGrid>
            </div>
        </BitStack>
    </BitStack>
</section>

<BitDialog OnOk="WrapHandled(DeleteProduct)"
           @bind-IsOpen="isDeleteDialogOpen"
           OkText="@Localizer[nameof(AppStrings.Yes)]"
           CancelText="@Localizer[nameof(AppStrings.No)]"
           Title="@Localizer[nameof(AppStrings.DeleteProduct)]"
           Message="@Localizer.GetString(nameof(AppStrings.AreYouSureWannaDeleteProduct), deletingProduct?.Name ?? "")" />
