<DemoExample Title="Basic" RazorCode="@example1RazorCode" CsharpCode="@example1CsharpCode" Id="example1">
    <div>The items are provided as a list of <code>BitAccordionListItem</code> objects. By default it works in single-expand mode.</div>
    <br />
    <BitAccordionList Items="basicItems" TItem="BitAccordionListItem" />
</DemoExample>

<DemoExample Title="Multiple" RazorCode="@example2RazorCode" CsharpCode="@example2CsharpCode" Id="example2" PreventRenderForMcpClient>
    <div>Enable the <code>Multiple</code> parameter to allow more than one item to be expanded at the same time.</div>
    <br />
    <BitAccordionList Multiple Items="basicItems" TItem="BitAccordionListItem" />
</DemoExample>

<DemoExample Title="DefaultExpanded" RazorCode="@example3RazorCode" CsharpCode="@example3CsharpCode" Id="example3" PreventRenderForMcpClient>
    <div>Use <code>DefaultExpandedKey</code> (single) or <code>DefaultExpandedKeys</code> (multiple) to set the initially expanded items.</div>
    <br /><br />
    <div class="example-content">
        <div>Single (DefaultExpandedKey):</div>
        <BitAccordionList Items="keyedItems" TItem="BitAccordionListItem" DefaultExpandedKey="users" />
    </div>
    <br /><br />
    <div class="example-content">
        <div>Multiple (DefaultExpandedKeys):</div>
        <BitAccordionList Multiple Items="keyedItems" TItem="BitAccordionListItem" DefaultExpandedKeys="@(["general", "advanced"])" />
    </div>
</DemoExample>

<DemoExample Title="Events" RazorCode="@example4RazorCode" CsharpCode="@example4CsharpCode" Id="example4" PreventRenderForMcpClient>
    <div>Handle the OnExpand, OnCollapse and OnToggle events of the component.</div>
    <br />
    <BitAccordionList Items="basicItems"
                      TItem="BitAccordionListItem"
                      OnExpand="(BitAccordionListItem item) => expandedTitle = item.Title"
                      OnCollapse="(BitAccordionListItem item) => collapsedTitle = item.Title"
                      OnToggle="(BitAccordionListItem item) => toggledTitle = item.Title" />
    <br />
    <div>Last expanded: <b>@expandedTitle</b></div>
    <div>Last collapsed: <b>@collapsedTitle</b></div>
    <div>Last toggled: <b>@toggledTitle</b></div>
    <br /><br />
    <div>Each item can also have its own click handler.</div>
    <br />
    <BitAccordionList Items="eventsItems" TItem="BitAccordionListItem" />
    <div>Item click count: <b>@clickCounter</b></div>
</DemoExample>

<DemoExample Title="ExpandAll & CollapseAll" RazorCode="@example5RazorCode" CsharpCode="@example5CsharpCode" Id="example5" PreventRenderForMcpClient>
    <div>In multiple-expand mode, the ExpandAll and CollapseAll public methods can be used.</div>
    <br />
    <BitButton OnClick="() => accordionListRef.ExpandAll()">Expand all</BitButton>
    <BitButton OnClick="() => accordionListRef.CollapseAll()">Collapse all</BitButton>
    <br /><br />
    <BitAccordionList @ref="accordionListRef" Multiple Items="basicItems" TItem="BitAccordionListItem" />
</DemoExample>

<DemoExample Title="Binding" RazorCode="@example6RazorCode" CsharpCode="@example6CsharpCode" Id="example6" PreventRenderForMcpClient>
    <div>Two-way bind the expanded key in single-expand mode using <code>@@bind-ExpandedKey</code>.</div>
    <br />
    <BitButtonGroup Toggle Items="bindingButtons" TItem="BitButtonGroupItem" @bind-ToggleKey="boundExpandedKey" />
    <br />
    <div>Bound expanded key: <b>@boundExpandedKey</b></div>
    <br />
    <BitAccordionList @bind-ExpandedKey="boundExpandedKey" Items="keyedItems" TItem="BitAccordionListItem" />
</DemoExample>

<DemoExample Title="ExpanderIcon" RazorCode="@example7RazorCode" CsharpCode="@example7CsharpCode" Id="example7" PreventRenderForMcpClient>
    <div>Customize the expander icon for the whole list or per item.</div>
    <br /><br />
    <div class="example-content">
        <div>Component-level:</div>
        <BitAccordionList Items="basicItems" TItem="BitAccordionListItem" ExpanderIconName="@BitIconName.Add" />
    </div>
    <br /><br />
    <div class="example-content">
        <div>Per-item:</div>
        <BitAccordionList Items="iconItems" TItem="BitAccordionListItem" />
    </div>
</DemoExample>

<DemoExample Title="Background & Border" RazorCode="@example8RazorCode" CsharpCode="@example8CsharpCode" Id="example8" PreventRenderForMcpClient>
    <div>Customize the background and border color kinds of all the items.</div>
    <br /><br />
    <div class="example-content">
        <div>NoBorder:</div>
        <BitAccordionList NoBorder Items="basicItems" TItem="BitAccordionListItem" />
    </div>
    <br /><br />
    <div class="example-content">
        <div>Background &amp; Border:</div>
        <BitAccordionList Items="basicItems"
                          TItem="BitAccordionListItem"
                          Background="BitColorKind.Secondary"
                          Border="BitColorKind.Tertiary" />
    </div>
</DemoExample>

<DemoExample Title="Templates" RazorCode="@example9RazorCode" CsharpCode="@example9CsharpCode" Id="example9">
    <div>Customize the header and body of the items using HeaderTemplate and BodyTemplate.</div>
    <br />
    <BitAccordionList Items="basicItems" TItem="BitAccordionListItem">
        <HeaderTemplate Context="item">
            <BitIcon IconName="@BitIconName.FavoriteStarFill" Color="BitColor.Warning" />
            <b>@item.Title</b>
        </HeaderTemplate>
        <BodyTemplate Context="item">
            <BitText Typography="BitTypography.Caption1">@item.Description</BitText>
        </BodyTemplate>
    </BitAccordionList>
</DemoExample>

<DemoExample Title="Style & Class" RazorCode="@example10RazorCode" CsharpCode="@example10CsharpCode" Id="example10">
    <div>Customize the appearance using the Style, Class, Styles, and Classes parameters.</div>
    <br /><br />
    <div class="example-content">
        <div>Component's style &amp; class:</div>
        <BitAccordionList Items="basicItems" TItem="BitAccordionListItem" Gap="8" Style="border: 1px solid var(--bit-clr-pri); border-radius: 0.5rem; padding: 0.5rem;" />
        <BitAccordionList Items="basicItems" TItem="BitAccordionListItem" Gap="8" Class="custom-item" />
    </div>
    <br /><br />
    <div class="example-content">
        <div><b>Styles</b> &amp; <b>Classes</b>:</div>
        <BitAccordionList Items="basicItems"
                          TItem="BitAccordionListItem"
                          Styles="@(new() { ItemTitle = "color: tomato;", ItemHeader = "background-color: var(--bit-clr-bg-sec);" })" />
        <BitAccordionList Items="basicItems"
                          TItem="BitAccordionListItem"
                          Classes="@(new() { ItemTitle = "custom-title" })" />
    </div>
</DemoExample>

<DemoExample Title="RTL" RazorCode="@example11RazorCode" CsharpCode="@example11CsharpCode" Id="example11" PreventRenderForMcpClient>
    <div>Use BitAccordionList in right-to-left (RTL).</div>
    <br />
    <BitAccordionList Dir="BitDir.Rtl" Items="rtlItems" TItem="BitAccordionListItem" />
</DemoExample>
