@*+:cnd:noEmit*@
@attribute [Route(PageUrls.SystemPrompts)]
@attribute [Route("{culture?}" + PageUrls.SystemPrompts)]
@attribute [Authorize(Policy = AuthPolicies.PRIVILEGED_ACCESS)]
@*#if (multitenant == true)*@
@attribute [Authorize(Policy = AuthPolicies.TENANT_SELECTED)]
@*#endif*@
@attribute [Authorize(Policy = AppFeatures.Management.SystemPrompts_Write)]
@inherits AppPageBase


<AppPageData Title="@Localizer[nameof(AppStrings.SystemPromptsTitle)]"
             SubTitle="@Localizer[nameof(AppStrings.SystemPromptsSubTitle)]" />
<section>
    @if (isLoading)
    {
        <BitEllipsisLoading CustomSize="32" />
    }
    else if (systemPrompts is not null)
    {
        <BitPivot>

            @foreach (var systemPrompt in systemPrompts)
            {
                <BitPivotItem HeaderText="@systemPrompt.PromptKind.ToString()">

                    <BitSticky Top="5rem" Style="margin-bottom:8px">
                        <BitButton IconName="@BitIconName.Save" OnClick="WrapHandled(() => SaveChanges(systemPrompt))" AutoLoading>
                            @Localizer[nameof(AppStrings.Save)]
                        </BitButton>
                    </BitSticky>

                    <BitMarkdownEditor @bind-Value="systemPrompt.Markdown" Mode="BitMarkdownEditorMode.Split" />
                </BitPivotItem>
            }

        </BitPivot>
    }
</section>