@namespace Bit.BlazorUI
@inherits BitInputBase<TValue>
@typeparam TItem
@typeparam TValue

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     role="radiogroup"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()"
     aria-label="@AriaLabel"
     aria-labelledby="@GetAriaLabelledBy()">

    <label id="@_labelId"
           disabled="@(IsEnabled is false)"
           style="@Styles?.LabelContainer"
           class="@Classes?.LabelContainer">
        @if (LabelTemplate is not null)
        {
            @LabelTemplate
        }
        else if (Label.HasValue())
        {
            <span style="@Styles?.Label" class="bit-chg-lbl @Classes?.Label">@Label</span>
        }
    </label>

    <div id="@_optionsContainerId" style="@Styles?.Container" class="bit-chg-cnt @Classes?.Container">
        @if (Options is not null || ChildContent is not null)
        {
            <CascadingValue Value="this" IsFixed="true">
                @(Options ?? ChildContent)
            </CascadingValue>
        }
        else
        {
            @for (int i = 0; i < _items.Count; i++)
            {
                var item = _items[i];
                <_BitChoiceGroupItem @key="@($"{UniqueId}-{i}")" Item="item" ChoiceGroup="this" />
            }
        }
    </div>

</div>