@namespace Bit.BlazorUI.Legacy.Demo.MarkdownViewer
@page "/components/legacy/markdownviewer"

<PageOutlet Url="components/legacy/markdownviewer"
            Title="MarkdownViewerLegacy"
            Description="markdownviewer component of the bit BlazorUI components" />

<DemoPage Name="MarkdownViewerLegacy"
          Description="BitMarkdownViewerLegacy is a SEO friendly Blazor wrapper around the famous markedjs library."
          SecondaryNames="@(["MdViewer", "MD"])"
          Parameters="componentParameters"
          GitHubLegacyUrl="MarkdownViewer/BitMarkdownViewerLegacy.razor"
          GitHubDemoUrl="Legacy/MarkdownViewer/BitMarkdownViewerLegacyDemo.razor">
    <NotesTemplate>
        <Bit.BlazorUI.Legacy.BitMarkdownViewerLegacy Markdown="@("To use this component, you need to install the [**`Bit.BlazorUI.Legacy`**](https://www.nuget.org/packages/Bit.BlazorUI.Legacy) nuget package, as described in the [Legacy components](/getting-started#legacy-components) section of the Getting started page.")" />
        <Bit.BlazorUI.Legacy.BitMarkdownViewerLegacy Markdown="@("To utilize the **prerender** mode you need to install the [**`Jint`**](https://www.nuget.org/packages/Jint) nuget package on the Server project that is responsible for the prerendering.")" />
    </NotesTemplate>

    <Examples>
        <DemoExample Title="Basic" RazorCode="@example1RazorCode" Id="example1">
            <Bit.BlazorUI.Legacy.BitMarkdownViewerLegacy Markdown="@("# Marked in the browser\n\nRendered by [**marked**](https://marked.js.org).")" />
        </DemoExample>

        <DemoExample Title="Advanced" RazorCode="@example2RazorCode" CsharpCode="@example2CsharpCode" Id="example2">
            <div>
                <Bit.BlazorUI.Legacy.BitMarkdownViewerLegacy Markdown="@advancedMarkdown" Class="advanced" />
            </div>
        </DemoExample>

        <DemoExample Title="Events" RazorCode="@example3RazorCode" CsharpCode="@example3CsharpCode" Id="example3">
            <Bit.BlazorUI.Legacy.BitMarkdownViewerLegacy Markdown="@("# Events of the BitMarkdownViewerLegacy:\n\n- OnParsing\n- OnParsed\n- OnRendered")"
                               OnParsing="OnParsing"
                               OnParsed="OnParsed"
                               OnRendered="OnRendered" />
            <hr />
            <div>Parsing at [@parsingDateTime?.ToString("o")]</div>
            <div>Parsed at [@parsedDateTime?.ToString("o")]</div>
            <div>Rendered at [@renderedDateTime?.ToString("o")]</div>
        </DemoExample>
    </Examples>
</DemoPage>
