@*+:cnd:noEmit*@
@attribute [Route(PageUrls.Settings + "/{Section?}")]
@attribute [Route("{culture?}" + PageUrls.Settings + "/{Section?}")]
@attribute [Authorize]
@inherits AppPageBase

<AppPageData Title="@Localizer[nameof(AppStrings.Settings)]"
             PageTitle="@Localizer[nameof(AppStrings.SettingsPageTitle)]" />

<section>
    <BitStack Class="stack">
        <BitAccordionList TItem="BitAccordionListOption" DefaultExpandedKey="@Section" Background="BitColorKind.Secondary" Border="BitColorKind.Transparent">

            <BitAccordionListOption Key="@PageUrls.SettingsSections.Profile" Title="@Localizer[nameof(AppStrings.ProfileTitle)]" Description="@Localizer[nameof(AppStrings.ProfileSubtitle)]">
                <ProfileSection Loading="isLoading" />
            </BitAccordionListOption>

            <BitAccordionListOption Key="@PageUrls.SettingsSections.Account" Title="@Localizer[nameof(AppStrings.AccountTitle)]" Description="@Localizer[nameof(AppStrings.AccountSubtitle)]">
                <AccountSection />
            </BitAccordionListOption>

            <BitAccordionListOption Key="@PageUrls.SettingsSections.Tfa" Title="@Localizer[nameof(AppStrings.TfaTitle)]" Description="@Localizer[nameof(AppStrings.TfaSubtitle)]">
                <TwoFactorSection />
            </BitAccordionListOption>

            <BitAccordionListOption Key="@PageUrls.SettingsSections.Sessions" Title="@Localizer[nameof(AppStrings.SessionsTitle)]" Description="@Localizer[nameof(AppStrings.SessionsSubtitle)]">
                <SessionsSection />
            </BitAccordionListOption>

            @*#if (ads == true)*@
            <BitAccordionListOption Key="@PageUrls.SettingsSections.UpgradeAccount" Title="@Localizer[nameof(AppStrings.UpgradeTitle)]" Description="@Localizer[nameof(AppStrings.UpgradeSubtitle)]">
                <UpgradeAccountSection />
            </BitAccordionListOption>
            @*#endif*@

        </BitAccordionList>
    </BitStack>

</section>