@namespace Bit.BlazorUI
@inherits BitComponentBase
@typeparam TItem

<nav @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     role="navigation"
     aria-label="@AriaLabel"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()">

    <div style="@Styles?.Container" class="bit-nbr-cnt @Classes?.Container">
        @if (Options is not null || ChildContent is not null)
        {
            <CascadingValue Value="this" IsFixed="true">
                @(Options ?? ChildContent)
            </CascadingValue>
        }
        else
        {
            @foreach (var (item, idx) in _items.Select((item, idx) => (item, idx)))
            {
                <_BitNavBarItem @key="@GetItemKey(item, idx.ToString())" NavBar="this" Item="item" />
            }
        }
    </div>
</nav>